.menu {
    &__wrapper {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 15px 25px 15px 20px;
        width: 1295px;
        height: 82px;
        border-radius: 50px;
        position: absolute;
        left: -30px;
        top: 51px;
        z-index: 10;
    }
    &__links {
        z-index: 3;
        &-item {
            margin-right: 35px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            &:nth-child(5) {
                margin-right: 0;
            }
            &:hover {
                color: $main-color;
                text-decoration: none;
            }
        }
    }
    &__btn {
        width: 225px;
        height: 52px;
        border-radius: 50px;
        background-color: $main-color;
        border: none;
        &:hover {
            box-shadow: 0 0 10px rgb(124, 189, 243);
        }
    }
}