.text {
    font-family: 'Poppins';
    &_fz18 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #252525;
        &.grey {
            color: #9D9D9D;
        }
    }
    &_fz20 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black;
        &.white {
            color: white;
        }
    }
    &_fz65 { 
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 98px;
    color: #252525;
    }
    &_fz24 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #252525;
        opacity: 0.6;
        &.white {
            color: #fff;
            opacity: 1;
        }
        &.black {
            opacity: 1;
        }
        &.link {
            color: $main-color;
            text-decoration: underline;
        }
    }
    &_fz30 {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
    }
    &_fz32 {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
    }
    &_fz36 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #9D9D9D;
        &.blue {
            color: $main-color;
        }
    }
    &_fz56 {
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 84px;
        color: #252525;
        &.blue {
            color: $main-color;
        }
    }
}